<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="{{ url_for('static',filename='csscollocation.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome.min.css') }}">

	
    

	<title>collocationn</title>
</head>
<body>
  <div class="ss">

	<div class="container contact">
    <h2>collocation</h2>
  <div class="row">
   
    <div class="col-md-9">
      <div class="contact-form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="fname">rechercher:</label>
          <div class="col-sm-10">          
          <input type="text" class="form-control" id="fname" placeholder="Enter mot a rechercher" name="fname">



          <label class="d " for="fname">Frequence min:</label>
          <div class="col-sm-10">          
          <input type="text" class="form-contro" id="fname" name="fname">
          </div>
        </div>

        <div class="form-group">        
          
          <button type="submit" class="btn btn-default">Rechercher</button>
         
        </div>

       
      </div>
    </div>
  </div>
</div>
</div>

	<script src="{{ url_for('static',filename='jquery-3.3.1_2.js') }}"></script>
  <script src="{{ url_for('static',filename='jquery-1.11.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap.js') }}"></script>
  <script src="{{ url_for('static',filename='slide3.js') }}"></script>


  
  


  

</body>
</html>