<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />



  <link rel="stylesheet" href="{{ url_for('static',filename='css/analyse.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='an2.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/expl1.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
   
 

	<title>Analyse frequencielle</title>
	<style type="text/css">
	.scrollit {
    overflow:scroll;
    height:600px;
}
		
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
	</style>
</head>

<body>

<dir class="container">
	<div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Analyse frequencielle</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Table de frequence</a>
                       <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    	<form action="" method="post" name="form2">
                    	        {% if a:%}

                    	<h5>Chemin: {{chemin}}</h5>
						<h5>Nombre d'hapax:{{ a[0] }}</h5>
						<h5>Nombre d'occurence:{{ a[1] }}</h5>
						<h5>Nombre de formes:{{ a[2] }}</h5>
						<h5>moyenne d'occurence par forme:{{ a[3] }}</h5>
								{%endif%}
						  <input type="text" class="form-control col-md-6" align="center" id="inputPassword2" placeholder="" name="fname23">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="Tout"><h5>Tout</h5>
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="Commence"><h5>Commence par</h5>
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="termine"><h5>Se termine par</h5>
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="contient"><h5>Contenant</h5>
							<button type="submit" class="btn btn-primary">Rechercher</button>

							




                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="container">
    <div class="page-header">
        <h3>    </h3>
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Forme</h3>
        <div class="scrollit">
         <table class="table" cellspacing="0">
                                    
                                    <thead>
                                        <tr>
                                            <th>Rang</th>
                                            <th>Forme</th>
                                            <th>Frequence</th>
                                        </tr>
                                    </thead>

                                    <tbody >
                                       {% if b:%}
                                       {% for i in range(0, (l1 - 3)):%}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ b[i][0] }}</td>
                                            <td>{{ b[i][1] }}</td>
                                        </tr>
                                        {% endfor %}
                                         {% endif %}
                                       
                                    </tbody>
                                </table></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Forme active </h3>
                <div class="scrollit">

         <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Rang</th>
                                            <th>Forme active</th>
                                            <th>Frequence</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if p:%}
                                       {% for i in range(0, (l2 - 3)):%}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ p[i][0] }}</td>
                                            <td>{{ p[i][1] }}</td>
                                        </tr>
                                        {% endfor %}
                                         {% endif %}
                                    </tbody>
                                </table>
                            </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Forme supp</h3>
          <div class="scrollit">

         <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Rang </th>
                                            <th>Forme supp</th>
                                            <th>Frequence</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% if d:%}
                                       {% for i in range(0, (l3 - 3)):%}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ d[i][0] }}</td>
                                            <td>{{ d[i][1] }}</td>
                                        </tr>
                                        {% endfor %}
                                         {% endif %}
                                       
                                    </tbody>
                                </table>
                            </div>
      					
   							</div>
   						</dir>



                   
                   <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    
                     
                    </div>
                     
                  </div>
                
                </div>
              </div>
        </div>
      </div>
</div>

	

</dir>

</dir>


<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Rang
      </th>
      <th class="th-sm">Forme
      </th>
      <th class="th-sm">Frequence
      </th>
      
    </tr>
  </thead>
  <tbody>
  	{% if contient1:%}
    {% if start_with1:%}
    {% if end_with1:%}
    {% if option == 'Commence':%}
   {% for i in range(0, (s2)):%}
     <tr>
      <td>{{ i }}</td>
      <td>{{ start_with1[i] }}</td>
      </tr>
       {% endfor %}
       {% endif %}


        {% if option == 'termine':%}
        {% for i in range(0, (s3)):%}
        <tr>
        <td>{{ i }}</td>
        <td>{{ end_with1[i] }}</td>
                                  
        </tr>
         {% endfor %}
          {% endif %}

           {% if option == 'contient':%}
                                       {% for i in range(0, (s4)):%}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ contient1[i] }}</td>
                                  
                                        </tr>

                                        {% endfor %}
                                         {% endif %}
                                        
                                         {% endif %}
                                         {% endif %}
                                         {% endif %}
    
  </tfoot>
</table>













<script type="text/javascript">$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});</script>

<script src="{{ url_for('static',filename='js/jquery-3.3.1_2.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/analyse.js') }}"></script>
  
 
  	


  

</body>
</html>